<ActionBar class="action-bar">
    <Label class="action-bar-title" text="Home2!"></Label>
</ActionBar>

<StackLayout>
    <TextField></TextField>
    <button (tap)="changePage()" text="go home"></button>
</StackLayout>