<ActionBar class="action-bar">
    <Label class="action-bar-title" text="Home"></Label>
</ActionBar>

<StackLayout>
    <!--<Image src="~/app/test-image.jpg" stretch="aspectFit"></Image>-->
    <Button (tap)="editImage()" text="Lauch"></Button>
    <Button (tap)="changePage()" text="Change page"></Button>

    <TextField></TextField>
</StackLayout>